In [15]:
import pandas as pd 
import numpy as np

def data_comp(variables):

    '''
    cleaning OECD data pass in the name of csv files you are using

    '''
    for n, var in enumerate(variables):

        #read in file OECD data

        df =  pd.read_csv(f"{var}.csv")

        #drop redundent columns and transform it into Year, Country, Variable

        df.columns = df.iloc[2]
        df.drop([0,1,2], inplace=True)
        df.drop(df.columns[1:44], axis=1, inplace=True)
        df.set_index('Country Name', inplace = True, drop = True)
        df = df.T
        df.index = [round(idx) for idx in df.index]
        df.index = pd.to_datetime(df.index, format='%Y')
        df = df.reset_index()
        df = pd.melt(df, id_vars=['index'], value_vars=df.columns[1:], var_name='Country Name', value_name='Value')

        df.set_index(['index', 'Country Name'], inplace=True)
        df.index.names = ["Year", "Country Name"]
        df.rename(columns={'Value': var}, inplace=True)

        #making the dataframe and combining over all variables
        if n == 0: 
            full_df = df
        else: 
            full_df = pd.concat([full_df, df], axis =1)
    return(full_df)

df_ML = data_comp(['GDP', 'Govt_debt_gdp', 'GDP growth rate','GNI per capita',
            'Inflation', 'Lending rate', 'Net exports', 'Total_reserve', 'Forex rate'])

In [16]:
df_PPP_model= data_comp(['RER', 'Forex rate', 'PPP'])
df_PPP = pd.read_csv(f"PPP_US.csv")

df_PPP_model = df_PPP_model[df_PPP_model.notna().all(axis=1)]

df_PPP_model['con_RER'] = (df_PPP_model['Forex rate'] * df_PPP_model['PPP'])

#df_PPP_model.to_csv('.csv', index=True)
df_PPP_model

                               RER  Forex rate       PPP     con_RER
Year       Country Name
2000-01-01 Armenia       74.010935  539.525833  0.234525  126.532512
2001-01-01 Armenia       73.034791  555.078258  0.231919  128.733275
2002-01-01 Armenia       73.665189  573.353333  0.226287  129.742387
2003-01-01 Armenia       67.937520  578.762954  0.229938  133.079710
2004-01-01 Armenia       71.634581  533.450833  0.258205  137.739693
...                            ...         ...       ...         ...
2017-01-01 Zambia        94.221086    9.517500  0.440513    4.192580
2018-01-01 Zambia        88.528850   10.458333  0.420550    4.398256
2019-01-01 Zambia        79.795053   12.890000  0.360806    4.650791
2020-01-01 Zambia        66.438740   18.344093  0.284940    5.226973
2021-01-01 Zambia        69.764269   20.018487  0.319845    6.402815

[1766 rows x 4 columns]

In [11]:

df= pd.read_csv(f"PPP_US.csv")

country_mapping = {

    'ARM': 'Armenia', 'ATG': 'Antigua and Barbuda', 'AUS': 'Australia', 'BDI': 'Burundi', 'BGR': 'Bulgaria', 
    'BHR': 'Bahrain', 'BHS': 'Bahamas, The', 'BLZ': 'Belize', 'BOL': 'Bolivia', 'BRA': 'Brazil', 
    'CAF': 'Central African Republic', 'CAN': 'Canada', 'CHE': 'Switzerland', 'CHL': 'Chile', 'CHN': 'China', 
    'CIV': "Cote d'Ivoire", 'CMR': 'Cameroon', 'COD': 'Congo, Dem. Rep.', 'COL': 'Colombia', 'CRI': 'Costa Rica', 
    'CYP': 'Cyprus', 'CZE': 'Czechia', 'DMA': 'Dominica', 'DNK': 'Denmark', 'DOM': 'Dominican Republic', 
    'DZA': 'Algeria', 'FJI': 'Fiji', 'GAB': 'Gabon', 'GBR': 'United Kingdom', 'GEO': 'Georgia', 'GHA': 'Ghana', 
    'GMB': 'Gambia, The', 'GNQ': 'Equatorial Guinea', 'GRC': 'Greece', 'GRD': 'Grenada', 'GUY': 'Guyana', 
    'HKG': 'Hong Kong SAR, China', 'HRV': 'Croatia', 'HUN': 'Hungary', 'IRN': 'Iran, Islamic Rep.', 'ISL': 'Iceland', 
    'ISR': 'Israel', 'JPN': 'Japan', 'KNA': 'St. Kitts and Nevis', 'KOR': 'Korea, Rep.', 'LCA': 'St. Lucia', 
    'LSO': 'Lesotho', 'LVA': 'Latvia', 'MAR': 'Morocco', 'MDA': 'Moldova', 'MEX': 'Mexico', 'MKD': 'North Macedonia', 
    'MLT': 'Malta', 'MWI': 'Malawi', 'MYS': 'Malaysia', 'NGA': 'Nigeria', 'NIC': 'Nicaragua', 'NOR': 'Norway', 
    'NZL': 'New Zealand', 'PAK': 'Pakistan', 'PHL': 'Philippines', 'PNG': 'Papua New Guinea', 'POL': 'Poland', 
    'PRY': 'Paraguay', 'ROU': 'Romania', 'RUS': 'Russian Federation', 'SAU': 'Saudi Arabia', 'SGP': 'Singapore', 
    'SLB': 'Solomon Islands', 'SLE': 'Sierra Leone', 'SVK': 'Slovak Republic', 'SWE': 'Sweden', 'TGO': 'Togo', 
    'TTO': 'Trinidad and Tobago', 'TUN': 'Tunisia', 'UGA': 'Uganda', 'UKR': 'Ukraine', 'URY': 'Uruguay', 'USA': 'United States',
    'VCT': 'St. Vincent and the Grenadines', 'VEN': 'Venezuela, RB', 'WSM': 'Samoa', 'ZAF': 'South Africa',
    'ZMB': 'Zambia'}

def apply_country_mapping(location):
    if location in country_mapping:
        return country_mapping[location]
    else:
        return None

df['LOCATION'] = df['LOCATION'].apply(apply_country_mapping)

# Extract only the necessary columns
df = df[['LOCATION', 'TIME', 'Value']]
df['TIME'] = pd.to_datetime(df['TIME'], format='%Y')

df = df.rename(columns={'Value': 'PPP_for_ER'})
df = df.dropna()
df.set_index(['TIME', 'LOCATION'], inplace=True)
df.index.set_names(['Year', 'Country Name'], inplace=True)

df

                         PPP_for_ER
Year       Country Name
1960-01-01 Australia       0.700946
1961-01-01 Australia       0.701324
1962-01-01 Australia       0.687990
1963-01-01 Australia       0.698321
1964-01-01 Australia       0.708346
...                             ...
2017-01-01 Cameroon      232.801392
2018-01-01 Cameroon      231.682690
2019-01-01 Cameroon      230.273904
2020-01-01 Cameroon      229.137013
2021-01-01 Cameroon      227.378726

[1765 rows x 1 columns]

In [14]:
df
df_merged = df.merge(df_PPP_model, left_index=True, right_index=True, how='inner')

#theretically in the long run these would be zero since the NOM*PPP == RER_normed
#so now we will calculate the difference between the constructed Real exchange rate where RER = PPP*NER
#versus the calculated PPP

#if the PPP*nom is higher than the PPP based on the exchange rate the currency would be overvalued
#id PPP *nom is lower than PPP the currency would be undervalued

#a lot of issues because I dont know the methodology of how the real excahnge rate of PPP was calculated for the country which I grabbed
#from OCED but still shows what we want to buy or sell depending on the year

df_merged['Final_diff'] = df_merged['con_RER'] - df_merged['PPP_for_ER']

#filtering out unstable ones
df_merged = df_merged[df_merged['Final_diff']>-0.1]
df_merged = df_merged[df_merged['Final_diff']<0.1]

print(df_merged)
df_merged.sort_index(inplace=True)

# Select all rows with years before 2015 and including 2015
df_year_before_2015 = df_merged.loc[(slice(None, '2015-01-01'), slice(None)), :]




df_merged['diff_in_ave_RER'] = df_merged['RER'].div(df_year_before_2015.groupby('Country Name').mean()['RER'])

df_years={}
for yr in range(2000, 2022):
    name = f'df_{yr}'
    dt_year= pd.to_datetime(f'{yr}-01-01')
    df_year = df_merged.loc[(dt_year, slice(None))]
    df_years[yr] = df_year
    #df_years[yr].to_csv(f'df_years_{yr}.csv', index=True)
print(df_years[2016])

                         PPP_for_ER        RER  Forex rate       PPP
Year       Country Name
2001-01-01 Australia       1.327544  67.566904    1.933442  0.712432  \
2002-01-01 Australia       1.336490  70.857304    1.840563  0.699294
2004-01-01 Australia       1.364771  85.422902    1.359752  0.970814
2005-01-01 Australia       1.388356  87.966700    1.309473  1.043720
2006-01-01 Australia       1.402633  87.241236    1.327973  1.050189
...                             ...        ...         ...       ...
2017-01-01 Cameroon      232.801392  96.194763  580.656750  0.400928
2018-01-01 Cameroon      231.682690  97.626845  555.446458  0.417111
2019-01-01 Cameroon      230.273904  96.575057  585.911013  0.393019
2020-01-01 Cameroon      229.137013  99.436060  575.586004  0.398093
2021-01-01 Cameroon      227.378726  99.551963  554.530675  0.410038

                            con_RER  Final_diff
Year       Country Name
2001-01-01 Australia       1.377445    0.049901
2002-01-01 Australia       1.287094   -0.049396
2004-01-01 Australia       1.320066   -0.044705
2005-01-01 Australia       1.366723   -0.021633
2006-01-01 Australia       1.394624   -0.008009
...                             ...         ...
2017-01-01 Cameroon      232.801412    0.000020
2018-01-01 Cameroon      231.682672   -0.000018
2019-01-01 Cameroon      230.273909    0.000005
2020-01-01 Cameroon      229.137015    0.000002
2021-01-01 Cameroon      227.378716   -0.000010

[690 rows x 6 columns]
                       PPP_for_ER         RER   Forex rate       PPP
Country Name
Australia                1.450156   91.002073     1.345214  1.055580  \
Brazil                   2.133082   73.259919     3.491313  0.610971
Bulgaria                 0.666663   97.282494     1.768042  0.377074
Cameroon               237.443756   95.444353   592.605615  0.400678
Canada                   1.207045   81.708799     1.325615  0.910555
Chile                  397.250703   92.643972   676.957736  0.586818
China                    3.988837  123.893558     6.644478  0.600322
Colombia              1298.142605   74.194843  3054.121673  0.425046
Costa Rica             343.013617  113.968861   544.739367  0.629684
Czechia                 12.576343   90.970332    24.439917  0.514582
Denmark                  7.079856   95.824073     6.731718  1.051716
Georgia                  0.747673   99.196901     2.366725  0.315914
Hong Kong SAR, China     5.932289  122.360803     7.762250  0.764244
Hungary                132.033797   88.986081   281.523333  0.468998
Iceland                140.029950  128.543558   120.811548  1.159078
Israel                   3.788511  103.511637     3.840567  0.986446
Japan                  105.519502   78.923252   108.792900  0.969912
Mexico                   8.446043   79.010965    18.664058  0.452529
Morocco                  3.994037   98.984849     9.807476  0.407243
New Zealand              1.441008  106.205144     1.436525  1.003121
North Macedonia         18.958594   98.330621    55.731725  0.340178
Norway                  10.041900   84.747249     8.400000  1.195464
Poland                   1.732843   88.948146     3.942783  0.439496
Romania                  1.596921   96.627408     4.059183  0.393410
Russian Federation      24.192337   79.325210    67.055933  0.360779
Saudi Arabia             1.638920  117.273175     3.750000  0.437045
Singapore                0.878306  108.268200     1.381546  0.635762
South Africa             6.159093   70.674727    14.709611  0.418735
Sweden                   8.822586   93.938672     8.561992  1.030436
Switzerland              1.201964  108.155935     0.985394  1.219780
United Kingdom           0.688603  102.508952     0.740634  0.929747
United States            1.000000  114.568212     1.000000  1.000000
Zambia                   3.878827   85.665433    10.307500  0.376191

                          con_RER    Final_diff  diff_in_ave_RER
Country Name
Australia                1.419981 -3.017484e-02         0.996516
Brazil                   2.133090  7.873684e-06         0.917479
Bulgaria                 0.666682  1.914750e-05         1.078239
Cameroon               237.443762  6.418877e-06         0.953727
Canada                   1.207045 -8.278711e-12         0.910827
Chile                  397.250724  2.109532e-05         0.958424
China                    3.988824 -1.306644e-05         1.245672
Colombia              1298.142604 -1.233981e-06              NaN
Costa Rica             343.013596 -2.085172e-05              NaN
Czechia                 12.576343  8.435773e-09         1.029084
Denmark                  7.079856  3.305587e-10         0.972280
Georgia                  0.747681  7.633894e-06         1.032832
Hong Kong SAR, China     5.932251 -3.809128e-05         1.048948
Hungary                132.033797 -5.987326e-08         0.955876
Iceland                140.029950  4.235488e-08         1.047156
Israel                   3.788511  3.831153e-10         1.053606
Japan                  105.519502 -9.116469e-08         0.821404
Mexico                   8.446024 -1.885683e-05         0.745765
Morocco                  3.994027 -9.851596e-06         0.957077
New Zealand              1.441008 -5.193750e-10         1.084558
North Macedonia         18.958695  1.009319e-04         0.965989
Norway                  10.041900  2.400000e-09         0.877054
Poland                   1.732836 -7.325731e-06         0.915277
Romania                  1.596922  1.012038e-06         1.008957
Russian Federation      24.192349  1.203423e-05         0.922258
Saudi Arabia             1.638920  1.862500e-07         1.103436
Singapore                0.878335  2.903038e-05         1.086248
South Africa             6.159433  3.399317e-04         0.776475
Sweden                   8.822586  3.659295e-09         0.897709
Switzerland              1.201964 -5.365499e-10         1.095273
United Kingdom           0.688603  5.829445e-10         0.883563
United States            1.000000  0.000000e+00         1.058473
Zambia                   3.877585 -1.241813e-03         0.977556